.dashboard-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 220px;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
